* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
   /* background-color: #1A0B2E;  */
}
.h-text{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 16px;


}
.p-text{
    margin-top: 16px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
    line-height: 24px;
}

/* Styled nabvar */

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    height: 92px;
    border: 1px solid #412567;
    padding: 16px 200px;
    align-items: center;
    background-color: #1A0B2E;
    margin-bottom: 0px;
}
.logo h1{
    color: white;
}
.wave{
    background:linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    /* -webkit-background-clip: text; */
    background-clip: text;
    color: transparent; 
}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}
nav .menu a{
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    
}

 nav .nav-btn{
    
    border: none; 
    border-radius: 1000px; 
    background:linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8); 
    color: #FFFFFF ;
    font-weight: 600;
    font-size: 1rem;
    width: 135px;
    height: 44px;
    column-gap: 4px;
    line-height: 1.2rem;
    padding: 12px 16px;
    align-items: center;
    display: flex;

}
nav .nav-btn img{
    width: 20px;
    height: 20px;
}


/* hamburger icon hidden by default (desktop) */
.hamburger {
    display: none;
}

.hamburger img {
    width: 24px;
    height: 24px;
}
/* styled header section */
header{
    max-width:1600px;
    height: 760px;
    width: 100%; 
    /* background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;  */
    
}
#banner{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    max-width:1600px;
    min-height: 760px;
    background-position: center;
    display: flex;
     align-items: center;
    justify-content: center;
    /* text-align: center; */ 
}
  
#banner .banner-section{
    max-width: 550px;
    height: 558px;
    align-items: center;
    justify-items: center;
    /* margin-top: 101px;
    margin-left: 525px; */
    margin: 101px 525px;

}
#banner .banner-section .group{
    width: 350px;
    height: 350px;
    position: relative; 
    
    
}
#banner .banner-section .new{
     position: absolute;
    padding: 8px 12px;
    border-radius: 1000px;
    max-width: 75px;
    height: 38px;
    background-color: #00FF88;
    /* text-align: center; */
    right: 28PX; 
    top: 12px;
    /* shadow-color: #00ff8880; */
    box-shadow: 0px 3px 27px 0px #00ff8880;
    
    
}
#banner .banner-section .new p{
    font-size: 1.1rem;
    font-weight: 500;
    color: #1A0B2E;
    text-align: center;
}

#banner .banner-section .group .c{
    /* position: relative; */
    width: 350px;
    height: 350px;
    /* z-index: -3; */
     
   
}
#banner .banner-section .group .c img{
     width: 100%;
    height: 350px;
    max-width: 350PX;
}
#banner .banner-section .group .m{
    position: absolute; 
    /* position: relative; */
    width: 200px;
    height: 200px;
    /* margin-top: 69px;
    margin-left: 75px;  */
    top: 69px;
    left: 116.67px;
    

   
}
#banner .banner-section .group .m img{
    width: 100%;
    max-width: 116.67px;
    height: 175px;
    /* margin-top: 8.33px;
    margin-left: 41.67px;
    */

}
.banner-content{
    max-width: 550px; 
    width: 100%;
    margin-top: 40px;
    align-items: center;
    justify-items: center;
    
}
.banner-content .t{
    height: 100px;
}
.banner-content h1{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 8px;
    height: 73px;


}
.banner-content P{
    color: #FFFFFF;
    font-size: 0.80rem; 
    font-weight: 400;
    /* line-height: 1.2px; */
    height: 19px;
    opacity: 80%;

    
        
}
.banner-btn{
    display: flex;
    gap: 8px;
    margin-top: 24px;
    width: 356px;
    height: 44px;
    align-items: center;
}
.banner-btn .p-btn{
    border: none; 
    border-radius: 1000px; 
    background:linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8); 
    color: #FFFFFF ;
    font-weight: 600;
    font-size: 1rem;
    width: 201px;
    height: 44px;
    padding: 12px 20px;
    align-items: center;
    display: flex;
    column-gap: 8px;
}
.banner-btn img{
    width: 20px;
    height: 20px;
}
.banner-btn .s-btn{ 
    border: 1px solid #00FF88;
    border-radius: 1000px; 
    background:none;
    color: #00FF88;
    font-weight: 600;
    font-size: 1rem;
    width: 147px;
    height: 44px;
    padding: 12px 20px;
    align-items: center;
    display: flex;
    column-gap: 8px;
}
/* about section */
#about{
    background-color: #1A0B2E;
    max-width: 1600px;
    width: 100%;
    height: 646px;
    padding: 50px 200px 120px 200px;
}
#about .about-info{
    max-width: 1200px;
    width: 100%;
    height: 222px;
    text-align: center;
}

#about .about-info h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 16px;
}
#about .about-info p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    opacity: 80%;
    line-height: 20px;
}
#about hr{
    width: 100%;
    opacity: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}
#about .about-card{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    min-height: 94px;
    gap: 80px;
    overflow:hidden;
}
#about .about-card .card-info{
    max-width: 240px;
    width: 100%;
}
#about .about-card .card-info h1{
   color: #00FF88;
   font-size: 3rem;
   font-weight: 800;
   margin-bottom: 16px;
}
#about .about-card .card-info p{
    color: #FFFFFF;
    opacity: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}
/* Choose section */
#choose{
    background-color: #230E3D;
    width: 100%;
    max-width: 1600px;
    height: 1121px;
    padding: 120px 200px;
}
#choose h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
#choose .container{
    max-width: 1200px;
    width: 100%;
    height: 783px;
}
#choose .container .p-grid{
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'music mobile    mobile'
    'music mobile    mobile'
    'music community community'
    'music community community';
    /* grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);    */
    height: 480px;
}

#choose .container .p-grid .music{
    grid-area: music;
    max-width: 380px;
    height: 480px;
    width: 100%;
    background-color: #351165;
    border-radius: 40px;
   
    /* justify-content: center; */
    padding: 40px;

   

}
#choose .container .p-grid .music img{
  width: 60px;
  height: 60px;

}

#choose .container .p-grid .mobile{
    grid-area: mobile; 
    /* grid-row: 2/-1; */
    /* grid-column: 3/-1; */
    max-width: 790px;
    height: 225px;
    width: 100%;
    background-color: #351165;
    border-radius: 40px;
   
    /* justify-content: center; */
    padding: 40px;

}
#choose .container .p-grid .community{
    /* grid-row: 2/-1; */
    grid-area: community;
    max-width: 790px;
    height: 225px;
    width: 100%;
    background-color: #351165;
    border-radius: 40px;
   
    /* justify-content: center; */
    padding: 40px;

}
#choose .container .s-grid{
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'interviews resources '
    'interviews resources ';
}
#choose .container .s-grid .interviews{
    grid-area: interviews;
    max-width: 790px;
    width: 100%;
    background-color: #351165;
    border-radius: 40px;
   
    /* justify-content: center; */
    padding: 40px;
    margin-top: 30px;
}
#choose .container .s-grid .resources{
    grid-area: resources;
    max-width: 380px;
    width: 100%;
    background-color: #351165;
    border-radius: 40px;
   
    /* justify-content: center; */
    padding: 40px;
    margin-top: 30px;
}
#featured{
    max-width: 1600PX;
    width: 100%;
    height: 1276px;
    padding: 120px 200px;
    background-color: #1A0B2E;
}
.feature h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.episode-card{
    display: flex;

    margin-bottom: 120px;
}
.card{
    width: 100%;
    max-width: 380px;
    height: 440px;
}
.info-card{
    padding: 24px;
    height: 225px;
    max-width: 380px;
    width: 100%;
    background-color: #250D44;
    border-radius: 8px;
}
.clock{
    display: flex;
    gap: 7.67px;
    margin-top: 12px;
    align-items: center;
}
.clock img{
    width: 16.67px;
    height: 16.67px;
}

.clock p{
    color: #00FF88;
    font-size: 1rem;
    font-weight:400;
    line-height: 24px;
}
/* styled host */

.host h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}
.host-card{
    background-color:#351165;
    border-radius: 40px;
    display: flex;
    height: 280px ;
    align-content: center;
    align-items: center;
    gap: 24px;
}
.host-card .host-pic{
    width: 200px;
    height: 200px;
    margin: 40px;
}
.host-info h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
   
}
.links{
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 184px;
    width: 100%;
}
.links .link-card{
    height: 40px;
   max-width: 40px;
   width: 100%;
    border: 1px solid #533C72 ; 
    border-radius: 50%;
    margin-top: 16px;
    align-items: center;
}
.links .link-card img{
    margin: 10px;
}
#footer-section{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    max-width:1600px;
    min-height: 412px;
    background-position: center;
    display: flex; 
    flex-direction: column;
     align-items: center;
    justify-content: center;
    /* text-align: center;  */

}
#footer-section .footer-content{
    max-width: 1360px;
    width: 100%;
    height: 172px;
    margin: 120px;
}
#footer-section .footer-content h1{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
     text-align: center;
     margin-bottom: 32px;
}
.socail-links{
   text-align: center; 
     align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
}
.icons{display: flex;
gap: 8px;}
.icons p{
     color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
    line-height: 24px;
}

.copy p {
     color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
    line-height: 24px;
    align-items: center;
    text-align: center; 
    margin-top: 22px;
}




@media screen and (max-width: 576px){
      nav {
        width: 100%;
        height: 60px;
        padding: 16px 20px;
        justify-content: space-between;
    
    }

    /* show hamburger icon */
    .hamburger {
        display: inline;
    
    }

    /* hide menu & button initially */
    .menu, .menu a, .btn{
        display: none;
    }
     header{
        width: 100%;
    }
    

    
}

