* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* background-color: #1A0B2E; */
}
.h-text{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 16px;


}
.p-text{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
    line-height: 24px;
    
    margin-bottom: 105px;
}

/* Styled nabvar */

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    height: 92px;
    border: 1px solid #412567;
    padding: 16px 200px;
    align-items: center;
    background-color: #1A0B2E;
    margin-bottom: 0px;
}
.logo h1{
    color: white;
}
.wave{
    background:linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    /* -webkit-background-clip: text; */
    background-clip: text;
    color: transparent; 
}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}
nav .menu a{
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    
}

 nav .nav-btn{
    
    border: none; 
    border-radius: 1000px; 
    background:linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8); 
    color: #FFFFFF ;
    font-weight: 600;
    font-size: 1rem;
    width: 135px;
    height: 44px;
    column-gap: 4px;
    line-height: 1.2rem;
    padding: 12px 16px;
    align-items: center;
    display: flex;

}
nav .nav-btn img{
    width: 20px;
    height: 20px;
}


/* hamburger icon hidden by default (desktop) */
.hamburger {
    display: none;
}

.hamburger img {
    width: 24px;
    height: 24px;
}
/* styled header section */
header{
    max-width:1600px;
    height: 760px;
    /* background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;  */
    
}
#banner{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    max-width:1600px;
    height: 760px;
    background-position: center;
    display: flex;
}
  
#banner .banner-section{
    max-width: 550px;
    height: 558px;
    align-items: center;
    justify-items: center;
    /* margin-top: 101px;
    margin-left: 525px; */
    margin: 101px 525px;

}
#banner .banner-section .group{
    width: 350px;
    height: 350px;
    position: relative;
}

#banner .banner-section .group .c{
    position: absolute;
    width: 350px;
    height: 350px;
}
#banner .banner-section .group .m{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 69px;
    margin-left: 75px; 

   
}
#banner .banner-section .group .m img{
    width: 100%;
    max-width: 116.67px;
    height: 175px;
    margin-top: 8.33px;
    margin-left: 41.67px;
}
.banner-content{
    
    margin-top: 40PX;
}
.banner-content h1{
    color: #FFFFFF;
    font-size: 3.75rem;
    font-weight: 800;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;


}
.banner-content P{
    color: #FFFFFF;
    font-size: 0.99rem; 
    font-weight: 400;
    /* line-height: 1.2px; */
    height: 19px;

    
        
}
.banner-btn{
    display: flex;
    gap: 8px;
    margin-top: 24px;
    width: 356px;
    height: 44px;
}
.banner-btn .p-btn{
    border: none; 
    border-radius: 1000px; 
    background:linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8); 
    color: #FFFFFF ;
    font-weight: 600;
    font-size: 1rem;
    width: 201px;
    height: 44px;
    padding: 12px 20px;
    align-items: center;
    display: flex;
    column-gap: 8px;
}
.banner-btn img{
    width: 20px;
    height: 20px;
}
.banner-btn .s-btn{ 
    border: 1px solid #00FF88;
    border-radius: 1000px; 
    background:none;
    color: #00FF88;
    font-weight: 600;
    font-size: 1rem;
    width: 147px;
    height: 44px;
    padding: 12px 20px;
    align-items: center;
    display: flex;
    column-gap: 8px;
}
/* about section */
#about{
    background-color: #1A0B2E;
    max-width: 1600px;
    height: 646px;
    padding: 50px 200px 120px 200px;
}
#about .about-info{
    max-width: 1200px;
    height: 222px;
    text-align: center;
}

#about .about-info h1{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 16px;
}
#about .about-info p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    opacity: 80%;
    line-height: 20px;
}
#about hr{
    width: 100%;
    opacity: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}
#about .about-card{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 94px;
    gap: 80px;
}
#about .about-card .card-info{
    max-width: 240px;
}
#about .about-card .card-info h1{
   color: #00FF88;
   font-size: 3rem;
   margin-bottom: 16px;
}
#about .about-card .card-info p{
    color: #FFFFFF;
    opacity: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}


@media screen and (max-width: 576px){
      nav {
        width: 100%;
        height: 60px;
        padding: 16px 20px;
        justify-content: space-between;
    
    }

    /* show hamburger icon */
    .hamburger {
        display: inline;
    
    }

    /* hide menu & button initially */
    .menu, .menu a, .btn{
        display: none;
    }
    

}
