* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* background-color: #1A0B2E; */
}
.h-text{
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 16px;


}
.p-text{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    opacity: 60%;
    line-height: 24px;
    
    margin-bottom: 105px;
}

/* Styled nabvar */

nav{
    display: flex;
    justify-content: space-between;

    max-width: 1600px;
    height: 92px;
    border: 1px solid #412567;
    padding: 16px 200px;
    align-items: center;
    background-color: #1A0B2E;
}
.logo h1{
    color: white;
}
.wave{
    background:linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    /* -webkit-background-clip: text; */
    background-clip: text;
    color: transparent; 
}
nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}
nav .menu a{
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
    
}

 nav .nav-btn{
    
    border: none; 
    border-radius: 1000px; 
    background:linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8); 
    color: #FFFFFF ;
    font-weight: 600;
    font-size: 1rem;
    width: 135px;
    height: 44px;
    column-gap: 4px;
    line-height: 1.2rem;
    padding: 12px 16px;
    align-items: center;
    display: flex;

}
nav .nav-btn img{
    width: 20px;
    height: 20px;
}


/* hamburger icon hidden by default (desktop) */
.hamburger {
    display: none;
}

.hamburger img {
    width: 24px;
    height: 24px;
}


@media screen and (max-width: 576px){

     nav {
        width: 100%;
        height: 60px;
        padding: 16px 20px;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger {
        display: inline;
    
    }

    /* hide menu & button initially */
    .menu, .menu a, .btn{
        display: none;
    }

    
}

